torch==2.1
h5py>=3.6.0
scipy>=1.7.3
opencv-python>=4.5.5
matplotlib
timm>=0.5.4
albumentations>=1.1.0
tensorboardX>=2.4.1
gdown>=4.2.1
opencv-python
diffusers>=0.25.0
transformers>=4.32.1
omegaconf
accelerate
